@import url("../fonts/stylesheet.css");


p,a,span,div,h2,h3,h4,h5,label{
    font-family: nexa_regularregular;
}

h1{
    text-transform: uppercase;
    font-family: nexa_blackregular;
}

.nexa_boldregular{
    font-family: nexa_boldregular;
}

.nexa_lightregular{
    font-family: nexa_lightregular;
}
.nexa_blackregular{
    font-family: nexa_blackregular;
}

body{
    background: url(../images/bg-background.jpg) no-repeat;
    background-size: 100% auto;
}
.clear{
    clear: both;
}
.bg-green{
   background-color: #007e47;
}
.bg-grey{
    padding: 20px;
    background: #f0f0f0;
}

.clear-padding{
    padding: 0px;
}
.clear-padding-left-right{
    padding-left: 0px;
    padding-right: 0px;
}
.color-white{
    color: #fff;
}
.color-red{
    color: #dc0814;
}

.line-grey-right{
    border-right: solid 2px #646466;
}

.bg-grey div p:last-child{
    margin-bottom: 0px;
}

.line-grey-bottom{
    padding-bottom: 15px;
    border-bottom: solid 2px;
}

.line-grey-bottom-dotted{
    border-bottom: dotted 2px;
}

.text-decoration-none{
    text-decoration: none;
}

.title{
    padding-top: 5px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.font-bold{
    font-weight: bold;
}

h1{
    font-weight: bold;
}

section{
  min-height: 600px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.nav > li{
    display: inline-table;
    height: 70px;
}



/*********
 * navbar
 ********/
.navbar-default {
    background-color: transparent;
    border: 0px;
    margin-bottom: 0px;
}
.navbar-default .bg-navbar{
    background-color: #25200d;
}
.navbar-default .navbar-nav > li > a{
    width: 140px;
    color: #fff !important;
    display: table-cell;
    vertical-align: middle;
    font-family: nexa_boldregular, serif;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
    color: #fff;
    background-color: #007e47;
}

.navbar-default .navbar-nav > li > a .vertical-white-line {
    width: 1px;
    height: 45px;
    background: #fff;
    display: block;
    position: absolute;
    top: 12px;
    left: 140px;
}

.navbar-default .navbar-nav > li > a .vertical-white-line-right {
    left: -1px;
}

.navbar-right{
    margin-right: 0px;
}


.dropdown-menu{
    background-color: #25200d;
    min-width: 141px;
}

.navbar-default .dropdown-menu > li > a{
    width: 140px;
    color: #fff !important;
    height: 60px;
}
.dropdown-menu > li > a{
    white-space: normal;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #eb0813 !important;
    text-decoration: none;
    background-color: #25200d;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus{
    background: inherit;
}


/*********
 * sub nabvar
 ********/
.navbar-subar{
    padding-right: 0px;
    padding-left: 0px;

}
.navigation-map {
    background: #f0f0f0;
}

.social-network {
    margin-top: 5px;
    padding-right: 0px;
   padding-left: 0px;
}



.social-network li{
    float: right;
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 2px;
    background: #25200d;
}
.social-network li a{
    display: block;
    width: 30px;
    height: 30px;
}
.social-network li a.facebook {
     background: url('../images/icon-facebook.png') no-repeat;
     background-size: contain ;
 }
.social-network li a.google {
    background: url('../images/icon-google-plus.png') no-repeat;
    background-size: contain ;
}
.social-network li a.linkedin {
    background: url('../images/icon-linkedin.png') no-repeat;
    background-size: contain ;
}
.social-network li a.rss {
     background: url('../images/icon-rss.png') no-repeat;
     background-size: contain ;
 }
.social-network li a.twitter {
    background: url('../images/icon-twitter.png') no-repeat;
    background-size: contain ;
}
.social-network li a.instagram {
    background: url('../images/icon-instagram.png') no-repeat;
    background-size: contain ;
}




/*********
 * home
 ********/
.margin-top-20{
    margin-top: 20px;
}
.bg-senado{
    padding: 0px 20px;
    background: #fff;
}
.bg-senado-de-la-republica{
    width: 170px;
    height: 300px;
    background-size: contain;
    background-color: #fff;
    background-image: url(../images/bg-senado-de-la-republica.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bg-opacity-white{
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    width: 560px;
    height: 300px;
}


.col-buttoms{
    padding-right: 0px;
}
.col-buttoms ul{
    list-style: none;
}

.col-buttoms ul li a {
    width: 202px;
    display: block;
    background: red;
    float: right;
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    padding: 10px 0px;
    font-family: nexa_boldregular;
}
.col-buttoms ul li a.active {
    background: #007e47;
}


.icon-download{
    display: block;
    width: 30px;
    height: 30px;
    background: url('../images/icon-descarga.png') no-repeat;
    background-size: contain;
    position: absolute;
    MARGIN-top: -35px;
    margin-left: 165px;
}

.buttom-image{
    width: 325px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}



/*********
 * register / register-optional
 ********/
form[name=frmRegister]{
    padding: 20px;
    background: #f0f0f0;
}
form[name=frmRegister] input{
    border: 0px;
    margin: 5px 0px;
}

form[name=frmRegister] input[name=submit]{
    width:100%;
    padding:  10px;
    background: #007e47;
    color: #fff;
    font-weight: bold;
}

form[name=frmRegister] .buttom-later{
    width:100%;
    padding:  10px;
    background: #dc0814;
    color: #fff;
    display: block;
    text-align: center;
}

form[name=frmRegister] select{
    margin-bottom: 10px;
}


/*********
 * search
 ********/

.search-constitution{
    list-style: none;
    margin-bottom: 10px;
    padding: 0px;

}

.search-constitution li{
    float: left;
    display: inline-table;
    width: 185px;
    height: 60px;
    background: #25200d;
    padding: 10px 30px;
    position: relative;
    text-transform: uppercase;
}

.search-constitution li.active{
    background-color: #007e47;
}

.search-constitution li a{
    color: #fff;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    font-family: nexa_boldregular, serif;
}

.search-constitution  > li > a .vertical-white-line {
    width: 1px;
    height: 35px;
    background: #fff;
    display: block;
    position: absolute;
    top: 12px;
    left: 184px;
}

.icon-search{
    position: relative;
    width: 30px;
    top: -39px;
    left: 5px;
}

/*********
 * search list
 ********/
.content-article{
    max-height: 300px;
    overflow-y: scroll;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 30px;
}

.buttom-new-search{
    padding: 10px;
    margin: 0 auto;
    background: #25200d;
    color: #fff !important;
    font-weight: bold;
    display: block;
    width: 150px;
    text-align: center;
    text-decoration: none !important;
}

form[name=frmSearch] input[name=search]{
    padding-left: 50px;
}

/*********
 * essay
 ********/
.dropzone{
    width: 500px;
    height: 200px;
    background: #fff;
    margin: 0 auto;
    border: dashed 5px #b1b1b1;
}
.dropzone  .dz-message p {
    width: 300px;
    margin: 30px auto 0px auto;
}
.dropzone  .dz-message p span{
    display: block;
    padding: 5px 10px;
    background: #dc0814;
    color: #fff;
}
.dz-details,
.dz-image{
    display: none !important;
}

.buttom-register {
    padding: 10px;
    margin: 20px auto;
    background: #007e47;
    color: #fff !important;
    font-weight: bold;
    display: block;
    width: 150px;
    text-decoration: none !important;
}



/*
 * questinarie
 */


.opcion {
    width:30%;
    height:50px;
    background-color:#23200e;
    cursor:pointer;
    color:#FFFFFF;
    margin:5px;
    padding-top: 15px;
    float:left;
    position:relative;
    text-align:center;
}

.opcion2 {
    width:24%;
    height:50px;
    background-color:#23200e;
    cursor:pointer;
    color:#FFFFFF;
    margin:5px;
    padding-top: 15px;
    float:left;
    position:relative;
    text-align:center;
}

.opcion3 {
    width: 49%;
    height: 80px;
    background-color: #23200e;
    cursor: pointer;
    color: #FFFFFF;
    margin: 5px;
    padding-top: 5px;
    float: left;
    position: relative;
    text-align: center;
    padding: 10px 40px;
}

.opcion4,
.opcion5{
    width: 32%;
    /* height: 50px; */
    background-color: #23200e;
    cursor: pointer;
    color: #FFFFFF;
    margin: 5px;
    padding-top: 5px;
    float: left;
    position: relative;
    text-align: center;
    padding: 20px;
}
.opcion5{
    padding: 5px 20px;
    height: 80px
}


.opcion6,
.opcion7,
.opcion8{
    width: 49%;
    height: 80px;
    background-color: #23200e;
    cursor: pointer;
    color: #FFFFFF;
    margin: 5px;
    padding-top: 5px;
    float: left;
    position: relative;
    text-align: center;
    padding: 10px 40px;
}
.opcion7{
    height: auto;
}



.bg-red {
    background-color:#d90914;
}

.selecionado2 {
    background-color:#d90914;
    color:#FFFFFF;
    margin:5px;
    padding:10px;
    float:left;
    position:relative;
    text-align:center;

}

#chequed{display:none;}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.primera-linea {
    height:70px;
    float:left;
    position:relative;
    margin:5px;
    padding:10px;
}

.segunda-linea {
    height:140px;
    float:left;
    position:relative;
    margin:5px;
    padding:10px;
}

.pregunta-dos {
    width:100%;
    height:100px;

    float:left;
    position:relative;
    margin:5px;
    padding:10px;
}

.pregunta-tres {
    height:240px;
    float:left;
    position:relative;
    margin:5px;
    padding:10px;
}

.pregunta-seis,
.pregunta-siete,
.pregunta-ocho{
     float:left;
    position:relative;
    margin:5px;
    padding:10px;
}


.enviar {
    background-color: #027f47;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border: 0px;
    display: block;
}

hr{
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}


form[name=frmQuestinarie]{
    padding: 40px;
}

.cero-margin-padding{
    margin: 0px;
    padding:  0px;
}
.margin-top-bottom{
    margin: 10px 0;
}

.div-sex{
    left: 30px;
}
.div-radio{
    margin-left: 0px;
    font-family: nexa_boldregular;
}

.box-50{
    width: 50px;
}













/*********
 * footer tricolor
 ********/

.bg-red{
    background: #dc0814;
}
.bg-tricolor{
    background: url(../images/bg-tricolor.jpg);
    height: 55px;
    display: block;
    margin-top: 20px;
}
.bg-green{
    background: url(../images/bg-green.jpg) center;
    display: block;
    margin-top: 20px;
    background-repeat-x: no-repeat;
}
.bg-green p{
    margin: 10px;
    font-size: 11px;
}

/*********
 * footer
 ********/
footer{
    background: #25200d;
    color: #fff;
    padding: 50px 0 60px 0;
}

footer ul{
    list-style:  none;
}
footer ul li{
    margin: 5px 0;

}

footer ul li:first-child{
    text-transform: uppercase;
    border-bottom: solid 2px #fff;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
}

footer ul li a{
    text-decoration: none !important;
    color: #fff !important;
    font-size: 12px;
}

footer ul li a.prelative{
    position: relative;
    width: 180px;
    display: block;
}
.cero-paddig-left{
    padding-left: 0px;
}
.cero-paddig-right{
    padding-right: 0px;
}


/*********
 * modal dialog
 ********/
.modal-dialog{
    width: 300px;
    margin-top: 15%;
}
.modal-dialog .modal-content{
    background: #e4e4e4;
    text-align: center;
    border: 0px;
    border-radius: 0px;
    padding: 20px;
}


.buttom-join-now{
    display: block;
    width: 150px;
    padding: 10px;
    background: #25200d;
    color: #fff !important;
    margin: 5px auto;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: bold;
}













/* TABLETAS
 All  screen (max-width: 10170)
 min  screen  320px)
*/
@media only screen and (max-width: 1070px) {

    .navbar-default .navbar-nav > li > a {
        width: 135px;
    }

    .search-constitution li{
        width: 140px;
        padding: 10px;
    }

}


/* CELULARES
 All  screen (max-width: 750px)
 min  screen  320px)
*/
@media only screen and (max-width: 750px) {


    .clear-padding-left-right,
    .social-network {
        padding-right: 15px;
        padding-left: 15px;
    }



    .bg-opacity-white{
        width:  auto;
        height: auto;
    }

    .bg-senado-de-la-republica{
        display: none;
    }

    .col-buttoms ul{
        padding: 0px;
    }
    .col-buttoms ul li a{
        width: 100%;
    }

    .icon-download{
        margin-left: 85%;
    }


    .dropzone{
        width: auto;
    }

    .div-radio{
        font-family: nexa_regularregular;
        font-size: 11px;
    }

    .opcion, .opcion1, .opcion2,
    .opcion3, .opcion4, .opcion5,
    .opcion6, .opcion7, .opcion8{
        padding: 5px;
    }

    .cero-margin-padding{
        height: auto;
    }

    .modal-dialog{
        width: 100%;
    }
}